* {
	margin: 0;
	border: 0;
}
.hidden {
	display: none;
}
li {
	list-style: none;
	float: left;
	margin-left: 10px;
	padding: 0 5px;
	margin-bottom: 0;
	border: solid 1px black;
	cursor: pointer;
}
.active {
	background-color: tan;
	border-bottom-color: white;
}
#content div {
	height: 100px;
	width: 300px;
	position: relative;
	top: 20px;
	border: solid 1px black;
}
p {
	width: 30%;
}
a {
	text-decoration: none;
	color: black;
}